@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gohtic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
 "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #bbb;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 4%;
}

.fe {
  font-family: "Sansita Swashed", cursive;
}

.fj {
  font-family: "Sawarabi Gothic";
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.bgi {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
}

#home {
  background-image: url(../img/main.jpg);
  background-color: #7e7e7e;
  background-blend-mode: multiply;
}

#about {
  padding-bottom: 150px;
}

#news {
  padding-bottom: 150px;
}

#menu {
  height: 800px;
  background-color: #432;
  margin-bottom: 80px;
}

#contact {
  color: #432;
}

#contact h1 {
  font-size: 5rem;
}

#contact label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

#location {
  margin-top: 140px;
  color: #888;
  margin-bottom: 60px;
}

#location .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

iframe {
  width: 100%;
}

#sns {
  margin-top: 140px;
  background: #f7e0adde;
  padding: 4% 0;
}

#sns .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

.fb {
  padding-left: 22px;
}

header {
  background: rgba(0, 0, 0, 0.534);
}

.m-header {
  background: #432;
}

.page-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logop {
  color: #bbb;
  font-size: 3rem;
  height: 70px;
}

.logo {
  width: 70px;
  height: 70px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav li {
  list-style: none;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 2rem;
}

.main-nav li a {
  color: #bbbbbb;
}

.main-nav li:hover {
  background-color: rgba(255, 255, 255, 0.212);
}

.main {
  text-align: center;
}

.main h1 {
  margin-top: 100px;
}

.main p {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin: 70px 0 50px;
}

.button {
  display: inline-block;
  width: 300px;
  color: #bbb;
  background-color: rgba(7, 111, 160, 0.6);
  border-radius: 20px;
  font-size: 3rem;
  margin-bottom: 40px;
}

.button:hover {
  background-color: #00bbdd;
  color: #fff;
}

.button:active {
  position: relative;
  top: 5px;
}

.page-about {
  width: 1200px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-about img {
  width: 30%;
}

.about-content {
  padding-top: 40px;
  color: #888;
  width: 60%;
  text-align: center;
  margin-left: 120px;
}

.about-content h2 {
  font-size: 4rem;
  position: relative;
}

.about-content h2:after {
  width: 20%;
  content: " ";
  border-bottom: 1px solid #888;
  position: absolute;
  left: 40%;
  right: 40%;
  bottom: -12px;
}

.about-content .about-p {
  font-size: 1.5rem;
  line-height: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.about-content h3 {
  font-size: 2rem;
}

.news-top {
  height: 150px;
  background-image: url(../img/news-top.png);
  background-size: cover;
  width: 100%;
  margin-bottom: 80px;
}

.news-top h2 {
  font-size: 5rem;
  color: #443322;
  margin-left: 370px;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #443322;
}

.a-wrapper {
  width: 80%;
  position: relative;
  padding-bottom: 20px;
  margin: 10px 0 20px;
  border-bottom: 1px dotted #432;
}

.a-head {
  display: inline-block;
  padding-left: 35%;
  font-size: 2rem;
}

.a-new {
  background-color: #432;
  color: #fff;
  position: relative;
  left: -26%;
  top: -10px;
}

.a-time {
  top: 5px;
  font-size: 1.5rem;
  display: inline-block;
  position: absolute;
  left: 5%;
}

.a-main {
  padding-left: 35%;
}

aside {
  margin-top: 10px;
  width: 24%;
  position: relative;
  left: -5%;
}

aside h3 {
  font-size: 2rem;
  border-bottom: 5px solid #432;
  border-right: 5px solid #432;
  border-top: 2px solid #432;
  margin-bottom: 7px;
}

aside ul {
  margin-bottom: 25px;
}

aside li {
  width: 80%;
  list-style: none;
  padding: 7px;
  border-bottom: 1px dotted #432;
}

aside img {
  margin-top: 20px;
}

.m-wrapper {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
}

.menu-img {
  width: 50%;
  height: 600px;
}

.menu-top {
  height: 600px;
  width: 50%;
  background-color: #888;
  text-align: center;
}

.menu-top h1 {
  padding: 100px 0 70px;
  font-size: 5rem;
}

.menu-top a {
  margin-top: 60px;
  font-size: 2rem;
  width: 200px;
}

.m-h1 {
  margin-top: 80px;
  color: #432;
  font-size: 5rem;
}

.m-p {
  color: #432;
  margin-top: 20px;
  margin-bottom: 60px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.big-item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.big-item img {
  width: 100%;
  height: 95%;
}

.c-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.c-wrapper:after {
  width: 30%;
  content: " ";
  border-bottom: 2px solid #432;
  position: absolute;
  left: 35%;
  right: 35%;
  bottom: -12px;
}

.c-content {
  width: 50%;
  margin-left: 100px;
}

.c-img {
  width: 40%;
  margin: 100px 0 100px 60px;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: rgba(112, 62, 13, 0.37);
  padding: 5px;
  border: 1px solid #432;
  border-radius: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 240px;
}

textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

.l-info {
  width: 22%;
}

.l-map {
  width: 74%;
  border: 4px solid #432;
}

.sub-title {
  text-align: center;
  color: #432;
  font-size: 1.8rem;
  font-family: "Sansita Swashed", cursive;
  border-bottom: 2px solid #432;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.sns-box {
  width: 30%;
}

.f-button {
  margin-top: 50px;
  background-color: #00b3d3;
  font-size: 2rem;
  width: 200px;
}

footer {
  background-color: #443322;
  color: #888;
}

.f-wrapper {
  text-align: center;
}

.f-wrapper p {
  padding-bottom: 5px;
}

.f-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
}

.f-nav li {
  font-size: 0.9rem;
}

@media (max-width: 680px) {
  header {
    width: 100%;
  }
  .page-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav li {
    font-size: 1.5rem;
  }
  .home {
    position: relative;
    left: 20%;
  }
  .m-h1 {
    margin-top: 0;
  }
  .m-p {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .main h1 {
    margin-top: 50px;
    font-size: 5rem;
    text-align: left;
  }
  .main p {
    text-align: left;
  }
  .page-about {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
  }
  .page-about img {
    width: 100%;
  }
  .about-content {
    width: 100%;
    margin-left: 0;
  }
  .news-top {
    margin-bottom: 20px;
  }
  .news-top h2 {
    margin-left: 10%;
  }
  .news-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .a-wrapper {
    width: 100%;
  }
  .a-head {
    display: block;
    padding-left: 0;
  }
  .a-time {
    font-size: 1rem;
    top: 25%;
    left: 2%;
  }
  .a-new {
    position: absolute;
    left: 50%;
    top: 5%;
  }
  .a-main {
    padding-top: 30px;
    padding-left: 0;
  }
  aside {
    display: none;
    width: 100%;
    left: 0;
  }
  #about {
    padding-bottom: 60px;
  }
  #news {
    padding-bottom: 50px;
  }
  .m-wrapper {
    padding-top: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-img {
    height: 400px;
    margin: 0 auto;
    width: 90%;
  }
  .menu-top {
    height: 300px;
    width: 90%;
    margin: 0 auto;
  }
  .menu-top h1 {
    padding: 20px 0 0px;
  }
  .menu-top a {
    margin-top: 20px;
  }
  .c-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .c-wrapper .button {
    margin-left: 13%;
  }
  .c-img {
    margin: 20px auto 20px;
  }
  .c-content {
    width: 60%;
  }
  #location {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  #location .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-info {
    width: 100%;
    padding-bottom: 30px;
  }
  .l-map {
    width: 100%;
  }
  #sns {
    margin-top: 30px;
    padding: 0;
  }
  #sns .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sns-box {
    width: 90%;
    margin: 0 auto;
  }
  .fb {
    padding-left: 8%;
  }
  .f-nav li {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */
